@tailwind base;
@tailwind components;
@tailwind utilities;

/* Existing styles */
.forphone {
  display: none;
}
.mooo {
  display: none;
}

/* Dark mode transitions */

/* Dark mode styles */
.dark body {
  background-color: #ffffff;
  color: #000000;
}

.dark .some-component {
  background-color: #000000;
  color: #ffffff;
}
.cou {
  width: 100%;
}

@media (max-width: 768px) {
  .mobi {
    display: none;
  }
  .mooo {
    display: flex;
  }

  .forphone {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
  }
}
